# Interface Requirements Verification

> 인터페이스 요구사항 검증 | 인터페이스의 설계 및 구현 전에 사용자들의 요구사항이 요구사항 명세서에 정확하고 완전하게 기술되었는지 검토하고 개발 범위의 기준인 베이스라인을 설정하는 것

## 요구사항 확인 기법

- 요구사항 검토(Requirements Review): 요구사항 명세서의 오류 확인 및 표준 준수 여부 등의 결함 여부를 검토 담당자들이 수작업으로 분석
  - **동료 검토(Peer Review)**: 요구사항 명세서 작성자가 내용을 직접 설명하고 동료들이 이를 들으면서 결함을 발견하는 검토 방법
  - **워크 스루(Walk Through)**: 검토 회의 전에 요구사항 명세서를 미리 배포하여 사전 검토한 후, 짧은 검토 회의를 통해 결함을 발견하는 검토 방법
  - **인스펙션(Inspection)**: 요구사항 명세서 작성자를 제외한 다른 검토 전문가들이 확인하면서 결함을 발견하는 검토 방법
- 프로토타이핑(Prototyping)
- 테스트 설계
- CASE(Computer Aided Software Engineering) 도구 활용

## 인터페이스 요구사항 검증 주요 항목

- 기능성(Functionality)
- 완전성(Completeness)
- 일관성(Consistency)
- 명확성(Unambiguity)
- 검증 가능성(Verifiability)
- 추적 가능성(Traceability)
- 변경 용이성(Easily Changeable)

# 참고 자료

- [인터페이스 요구사항 검증](https://m.blog.naver.com/wook2124/222103410491)
- [1-4-2장. 인터페이스 요구사항 검증 - B](https://lipcoder.tistory.com/282)
